USE [CRCMS_new]
GO
/****** Object:  Table [dbo].[dic_Group]    Script Date: 10/19/2017 11:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dic_Group](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dic_Group] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dic_Model]    Script Date: 10/19/2017 11:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dic_Model](
	[ModelId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](500) NULL,
	[SeriesId] [int] NULL,
 CONSTRAINT [PK_dic_Model] PRIMARY KEY CLUSTERED 
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dic_Pavilion]    Script Date: 10/19/2017 11:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dic_Pavilion](
	[PavilionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_dic_Pavilion] PRIMARY KEY CLUSTERED 
(
	[PavilionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dic_Status]    Script Date: 10/19/2017 11:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dic_Status](
	[StatusId] [int] NOT NULL,
	[NameEn] [nvarchar](500) NOT NULL,
	[NameRu] [nvarchar](500) NOT NULL,
	[StatusTypeId] [int] NULL,
 CONSTRAINT [PK_dic_ReasonsOfPause] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[dic_Group] ON 

INSERT [dbo].[dic_Group] ([GroupId], [Name]) VALUES (1, N'Powertrain')
INSERT [dbo].[dic_Group] ([GroupId], [Name]) VALUES (2, N'Engine')
INSERT [dbo].[dic_Group] ([GroupId], [Name]) VALUES (3, N'Techsupport')
SET IDENTITY_INSERT [dbo].[dic_Group] OFF
SET IDENTITY_INSERT [dbo].[dic_Model] ON 

INSERT [dbo].[dic_Model] ([ModelId], [Code], [Name], [SeriesId]) VALUES (1, N'772G', N'772G', NULL)
INSERT [dbo].[dic_Model] ([ModelId], [Code], [Name], [SeriesId]) VALUES (2, N'777F', N'777F', NULL)
INSERT [dbo].[dic_Model] ([ModelId], [Code], [Name], [SeriesId]) VALUES (3, N'777D', N'777D', NULL)
GO
SET IDENTITY_INSERT [dbo].[dic_Model] OFF
SET IDENTITY_INSERT [dbo].[dic_Pavilion] ON 

INSERT [dbo].[dic_Pavilion] ([PavilionId], [Name]) VALUES (1, N'CRS')
INSERT [dbo].[dic_Pavilion] ([PavilionId], [Name]) VALUES (2, N'MS')
INSERT [dbo].[dic_Pavilion] ([PavilionId], [Name]) VALUES (3, N'ERS')
SET IDENTITY_INSERT [dbo].[dic_Pavilion] OFF
INSERT [dbo].[dic_Status] ([StatusId], [NameEn], [NameRu], [StatusTypeId]) VALUES (1, N'WAITING FOR SPARE PARTS', N'Ждем запчасти', 1)
INSERT [dbo].[dic_Status] ([StatusId], [NameEn], [NameRu], [StatusTypeId]) VALUES (2, N'WAITING FOR TOOLS', N'Ждем инструмент', 1)
INSERT [dbo].[dic_Status] ([StatusId], [NameEn], [NameRu], [StatusTypeId]) VALUES (3, N'-', N'-', 2)
